web/ladelog
web/logging/data/
*.csv
*.log
*.pyc
*.bak
*.sav
*.list
openwb.conf.1
openwb.conf.10
openwb.conf.2
openwb.conf.3
openwb.conf.4
openwb.conf.5
openwb.conf.6
openwb.conf.7
openwb.conf.8
openwb.conf.9
ramdisk/
.DS_Store
.ftp*
web/settings/.htaccess
web/settings/.passwd
web/lastcommit
modules/soc_tesla/tokens.*
modules/soc_i3/token*
modules/soc_eq/soc_eq_acc_*
.vscode/settings.json
xmodules/unsuported
modules/soc_manuallp2/authorized_keys
