*.csv
*.log
*.pyc
*.bak
*.sav
*.list
*.conf
x.sh
openwb.conf
openwb.conf.*
web/backup/*.tar.gz
ramdisk/
.DS_Store
.ftp*
none.*
schnapper.txt
modules/unsuported/
web/ladelog
web/logging/data/
web/settings/.htaccess
web/settings/.passwd
web/lastcommit
modules/soc_tesla/tokens.*
modules/soc_i3/token*
modules/soc_eq/soc_eq_acc_*
.vscode/settings.json
modules/soc_manuallp2/authorized_keys
authorized_keys
